/*
Copyright 2025 hazzuk.

SPDX-License-Identifier: AGPL-3.0-only
Please see LICENSE files in the repository root for full details.
*/

.mx_ChangelogDescription_buttons {
	display: flex;
	gap: var(--cpd-space-4x);
	
	svg {
		margin-left: var(--cpd-space-2x);
	}
}
