/*
Copyright (c) 2025 hazzuk.

SPDX-License-Identifier: AGPL-3.0-only
Please see LICENSE files in the repository root for full details.
*/

.mx_RoomRPC {
    display: contents;

    img {
        border-radius: 50%;
    }
}

.mx_RoomTile_dm
.mx_RoomTile_subtitle {
    top: 0px !important;
}
